/SomaSwing/nbproject/private/
/SomaSwing/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/JavaApplication7/nbproject/private/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/TabuadaFor/nbproject/private/
/TabuadaFor/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/Dio-Trilha-JB-exe003/nbproject/private/
/Dio-Trilha-JB-exe003/build/
/Dio-Trilha-JB-exe004/nbproject/private/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/